# DB
DB_CONN="postgres://postgres:1267@localhost:5432/walletservice?sslmode=disable"
DB_TYPE="postgres"

# Rabbit
RMQ_CONN = 'amqp://guest:guest@localhost:5672/'
RMQ_EXCHANGE = wallet_events

# gRPC
SIGNING_KEY="secret_key0000000000000000000000"