# DataBase
DB_CONN = 'mongodb://root:pass@localhost:27017/'
DB_NAME = transactions
DB_COLLECTION = operations
# Rabbit
RMQ_CONN = 'amqp://guest:guest@localhost:5672/'
RMQ_EXCHANGE = wallet_events
RMQ_QUEUE = wallet_transactions
RMQ_ROUTINGKEY = wallet.*.*
